
body {
  background-color: #393e46; 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 400px;
  padding: 30px;
  background-color: #eeeeee;
  border-radius: 20px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #222831; /* Dark text color */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-input label {
  margin-right: 10px;
  color: #222831; 
}

.label-input input[type='number'] {
  width: 50px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.checkbox-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-input label {
  color: #222831; 
}

.checkbox-input input[type='checkbox'] {
  margin-left: 10px;
}

.generate-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #00adb5; 
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #00818a; 
}

.password-display {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.password-display input[type='text'] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.copy-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #393e46; 
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button:hover {
  background-color: #222831; 
}
